.Pokedex-title {
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    text-align: center;
    color: #4caf50;
}

.Pokedex-loser {
    text-align: center;
    color: #e91e63;
}